.box {
  font-family: sans-serif;
  font-family: sans-serif;
  
  font-size: 30px;
  cursor: pointer;
  
  padding: 5px;
  left: 50;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


h2{
   background-color: rgb(0, 191, 255); 
   padding: 50px;
}